<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <codes>
  <code key="EC01">
    <link>/help.aspx</link>
  </code>
  <code key="EC02">
    <link>/help.aspx</link>
  </code>
  <code key="EC03">
    <link></link>
  </code>
  <code key="EC04">
    <link></link>
  </code>
  <code key="EC05">
    <link>/support/help</link>
  </code>
  <code key="EC06">
      <link></link>
  </code>
    <code key="EC07">
      <link></link>
    </code>
    <code key="EC08">
      <link></link>
    </code>
    <code key="EC09">
      <link></link>
    </code>
    <code key="EC10">
      <link></link>
    </code>
    <code key="EC11">
      <link>/</link>
    </code>
    <code key="EC12">
      <link></link>
    </code>
    <code key="EC13">
      <link></link>
    </code>
    <code key="EC14">
      <link></link>
    </code>
    <code key="EC15">
      <link></link>
    </code>
    <code key="EC16">
      <link></link>
    </code>
    <code key="EC17">
      <link></link>
    </code>
    <code key="EC18">
      <link></link>
    </code>
    <code key="EC19">
      <link></link>
    </code>
    <code key="EC20">
      <link></link>
    </code>
    <code key="EC21">
      <link></link>
    </code>
    <code key="EC22">
      <link></link>
    </code>
    <code key="EC23">
      <link></link>
    </code>
    <code key="EC24">
      <link></link>
    </code>
    <code key="EC25">
      <link></link>
    </code>
    <code key="EC26">
      <link></link>
    </code>
    <code key="EC27">
      <link></link>
    </code>
    <code key="EC28">
      <link></link>
    </code>
    <code key="EC29">
      <link></link>
    </code>
    <code key="EC30">
      <link></link>
    </code>
    <code key="EC31">
      <link></link>
    </code>
    <code key="EC32">
      <link></link>
    </code>
    <code key="EC33">
      <link></link>
    </code>
    <code key="EC34">
      <link></link>
    </code>
    <code key="EC35">
      <link></link>
    </code>
    <code key="EC36">
      <link></link>
    </code>
    <code key="EC37">
      <link></link>
    </code>
    <code key="EC38">
      <link></link>
    </code>
    <code key="EC39">
      <link></link>
    </code>
    <code key="EC40">
      <link></link>
    </code>
    <code key="EC41">
      <link></link>
    </code>
    <code key="EC42">
      <link></link>
    </code>
    <code key="EC43">
      <link></link>
    </code>
    <code key="EC44">
      <link></link>
    </code>
    <code key="EC45">
      <link></link>
    </code>
    <code key="EC46">
      <link></link>
    </code>
    <code key="EC47">
      <link></link>
    </code>
    <code key="EC48">
      <link></link>
    </code>
    <code key="EC49">
      <link></link>
    </code>
    <code key="EC50">
      <link></link>
    </code>
    <code key="EC51">
      <link></link>
    </code>
    <code key="EC52">
      <link></link>
    </code>
    <code key="EC53">
      <link></link>
    </code>
    <code key="EC54">
      <link></link>
    </code>
    <code key="EC55">
      <link></link>
    </code>
    <code key="EC56">
      <link></link>
    </code>
    <code key="EC57">
      <link></link>
    </code>
    <code key="EC58">
      <link></link>
    </code>
    <code key="EC59">
      <link></link>
    </code>
    <code key="EC60">
      <link></link>
    </code>
    <code key="EC61">
      <link></link>
    </code>
    <code key="EC62">
      <link></link>
    </code>
    <code key="EC63">
      <link></link>
    </code>
    <code key="EC64">
      <link></link>
    </code>
    <code key="EC65">
      <link></link>
    </code>
    <code key="EC66">
      <link></link>
    </code>
    <code key="EC67">
      <link></link>
    </code>
    <code key="EC68">
      <link></link>
    </code>
    <code key="EC69">
      <link></link>
    </code>
    <code key="EC70">
      <link></link>
    </code>
    <code key="EC71">
      <link></link>
    </code>
    <code key="EC72">
      <link></link>
    </code>
    <code key="EC73">
      <link></link>
    </code>
    <code key="EC74">
      <link></link>
    </code>
    <code key="EC75">
      <link></link>
    </code>
    <code key="EC76">
      <link></link>
    </code>
    <code key="EC77">
      <link></link>
    </code>
    <code key="EC78">
      <link></link>
    </code>
    <code key="EC79">
      <link></link>
    </code>
    <code key="EC80">
      <link></link>
    </code>
    <code key="EC81">
      <link></link>
    </code>
    <code key="EC82">
      <link></link>
    </code>
    <code key="EC83">
      <link></link>
    </code>
    <code key="EC84">
      <link></link>
    </code>
    <code key="EC85">
      <link></link>
    </code>
    <code key="EC86">
      <link></link>
    </code>
    <code key="EC87">
      <link></link>
    </code>
    <code key="EC88">
      <link></link>
    </code>
    <code key="EC89">
      <link></link>
    </code>
    <code key="EC90">
      <link></link>
    </code>
    <code key="EC91">
      <link></link>
    </code>
    <code key="EC92">
      <link></link>
    </code>
    <code key="EC93">
      <link></link>
    </code>
    <code key="EC94">
      <link></link>
    </code>
    <code key="EC95">
      <link></link>
    </code>
    <code key="EC96">
      <link></link>
    </code>
    <code key="EC97">
      <link></link>
    </code>
    <code key="EC98">
      <link></link>
    </code>
    <code key="EC99">
      <link></link>
    </code>
    <code key="EC100">
      <link></link>
    </code>
    <code key="EC101">
      <link></link>
    </code>
    <code key="EC102">
      <link></link>
    </code>
    <code key="EC103">
      <link></link>
    </code>
    <code key="EC104">
      <link></link>
    </code>
    <code key="EC105">
      <link></link>
    </code>
    <code key="EC106">
      <link></link>
    </code>
    <code key="EC107">
      <link></link>
    </code>
    <code key="EC108">
      <link></link>
    </code>
    <code key="EC109">
      <link></link>
    </code>
    <code key="EC110">
      <link></link>
    </code>
    <code key="EC111">
      <link></link>
    </code>
    <code key="EC112">
      <link></link>
    </code>
    <code key="EC113">
      <link></link>
    </code>
    <code key="EC114">
      <link></link>
    </code>
    <code key="EC115">
      <link></link>
    </code>
    <code key="EC116">
      <link></link>
    </code>
    <code key="EC117">
      <link></link>
    </code>
    <code key="EC118">
      <link></link>
    </code>
    <code key="EC119">
      <link></link>
    </code>
    <code key="EC120">
      <link></link>
    </code>
    <code key="EC121">
      <link></link>
    </code>
    <code key="EC122">
      <link></link>
    </code>
    <code key="EC123">
      <link></link>
    </code>
    <code key="EC124">
      <link></link>
    </code>
    <code key="EC125">
      <link></link>
    </code>
  </codes>
</configuration>
