
/***************************************************************eCommerce***************************************/

/*#tabstrip li
{
    top: -11px !important;
    height: 35px;
}*/
#Mainmenuul
{
    list-style: none outside none;
    margin: 0 0 0 8px;
    padding: 0;
    width: 980px;
}
#footerlist1ul
{
    padding: 0px;
    list-style-type: none;
    line-height: 20px;
}
#kendodiv_schooltypetop .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #B5B5B5 0%, #B8B8B8 55%, #A1A1A1 130%) repeat scroll 0 0 transparent;
    border: medium hidden;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 8px 6px -6px #D4D4D4;
    height: 29px;
    margin-left: 1px;
    margin-top: 2px;
    position: relative;
    width: 120px;
}
#kendodiv_schooltypebottom .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #B5B5B5 0%, #B8B8B8 55%, #A1A1A1 130%) repeat scroll 0 0 transparent;
    border: medium hidden;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 8px 6px -6px #D4D4D4;
    height: 29px;
    margin-left: 1px;
    margin-top: 2px;
    position: relative;
    width: 120px;
}
#tabstrip li a
{
    color: #707070 !important;
    font-weight: 700px !important;
}
#tabstrip .k-tabstrip-items .k-item
{
    margin-left: -7px;
}
.util_rhtlnkactive
{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4dc6eb', EndColorStr='#4dc6eb') !important;
}
#logindiv a:hover:after
{
    right: 100% !important;
}
#logindiv .util_rhtlnkactive
{
    height: 35px !important;
}
#signupdiv a:hover:after
{
    right: 100% !important;
    top: -28px;
}
#wishlistdiv a:hover:after
{
    right: 100% !important;
    top: 8px;
}
#cartdiv a:hover:after
{
    right: 100% !important;
    top: -28px;
}
a.util_rhtcartlnk:hover:after
{
    top: -28px !important;
}
#kendodiv_schooltypetop .k-dropdown-wrap .k-state-default
{
    border-radius: 4px !important;
}
#kendodiv_country .k-dropdown-wrap .k-select
{
    line-height: 10px;
}
#kendodiv_schooltypetop .k-dropdown-wrap .k-state-default .k-state-hover
{
    background: transparent !important;
    color: inherit !important;
    border: none !important;
}
#kendodiv_country .k-dropdown-wrap.k-state-default
{
    background-color: transparent !important;
    background-image: none;
    filter: none;
}
#kendodiv_country .k-dropdown .k-state-default .k-state-hover
{
    background-color: transparent !important;
    background-image: none;
    filter: none;
}
.studenttxt
{
    line-height: 21px;
}
#kendodiv_learningarea .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border: medium hidden;
    border-radius: 2px 2px 2px 2px;
    height: 30px;
    position: relative;
    width: 391px;
    font-weight: 600 !important;
}
#kendodiv_primaryseries .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border: medium hidden;
    border-radius: 2px 2px 2px 2px;
    height: 30px;
    position: relative;
    width: 391px;
    font-weight: 600 !important;
    font-weight: 600 !important;
}
#kendodiv_PrimarySubSeries .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 279px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_studentleveling .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 391px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_others .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 34px;
    position: relative;
    width: 91px;
    border: hidden;
    font-weight: 600 !important;
    font-weight: 600 !important;
}
#kendodiv_Subject .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border: medium hidden;
    border-radius: 2px 2px 2px 2px;
    height: 30px;
    position: relative;
    width: 391px;
    font-weight: 600 !important;
}
#kendodiv_SubSubject .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 278px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_Series .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 391px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_ProductType .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 391px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_state .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 125px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_yearlevel .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 125px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_Subject .k-header
{
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_Series .k-header
{
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_ProductType .k-header
{
    width: 415px;
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_state .k-header
{
    width: 150px;
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_yearlevel .k-header
{
    width: 150px;
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_learningarea .k-header
{
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
    font-weight: 600 !important;
}
#kendodiv_primaryseries .k-header
{
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
}
#kendodiv_PrimarySubSeries .k-widget .k-dropdown-wrap
{
    background: -moz-linear-gradient(center top , #f9f9f9 0%,#f9f9f9 55%,#ececec 130%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(55%,#f9f9f9), color-stop(100%,#ececec));
    background: -webkit-linear-gradient(center top, #f9f9f9 55%, #ececec 100%);
    background-image: linear-gradient(top, #f9f9f9 55%, #ececec 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec',GradientType=0 );
    border-radius: 2px;
    height: 30px;
    position: relative;
    width: 279px;
    border: hidden;
    font-weight: 600 !important;
}
#kendodiv_SubSubject .k-header
{
    border-left: 1.5px solid #d4d4d4;
    border-right: 1.5px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1.5px solid #BDBDBD;
    box-shadow: 0px 0px 2px #BDBDBD;
    border-radius: 2px;
    width: 303px;
}
#divusermgmt ul #personalli
{
    margin-right: -7px;
}
.user_infotxtdiv
{
    float: left;
    margin-left: 43px;
    margin-top: -15px;
    width: 100%;
}
.user_infovaldiv
{
    color: #006699 !important;
    float: left;
    margin-left: 42px;
    margin-top: 5px;
}
.ifrmsrch, .ifrmsrchExtn
{
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#DBD9D9');
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=225, Color='#DBD9D9');*/
    margin-left: -4px !important;
}
.perm1txt
{
    line-height: 34px;
}
.Searchbtn
{
    cursor: pointer;
}

.adv_txt {
    letter-spacing: 1px !important;
    font-size: 11pt;
}





/***************************************************************eCommerce***************************************/