.request-login{font-family: KievitCL_OT-Regular;font-size: 12px;color: #707070;}
		.request-login .control-group {margin-bottom: 10px;}
		.request-login label {
			background: none repeat scroll 0 0 #f5f5f5;
			border: 1px solid #767676;
			clear: left;
			color: #707070;
			float: left;
			font-family: KievitCL_OT-Bold;
			font-size: 12px;
			font-weight: normal;
			height: 36px;
			letter-spacing: 1px;
			min-width: 104px;
			padding: 8px 10px 8px 15px;
			text-align: left;
		}
		.request-login .container p{text-align:left;letter-spacing}
		label {
			display: inline-block;
			font-weight: bold;
			margin-bottom: 5px;
		}
		.request-login h6,.request-login h4{text-align:left;font-weight:normal;}
		LABEL {
			color: #707070;
			display: block;
			font-weight: bold;
		}
		.request-login .controls {
			display: inline-block;
		}
		.request-login input {
			border: 1px solid #767676;
			color: #707070;
			float: right;
			font-family: KievitCL_OT-Regular;
			font-size: 14px;
			height: 36px;
			margin-left: -1px;
			padding: 0 20px;
			width: 324px;
		}
		
	
		.request-login .marginL40{margin-left:40px;}
		.request-login h3{ font-size:24px !important;}
		.request-login h3,.request-login h4{margin-top:0;font-family: KievitCL_OT-Bold;font-weight:normal;}
		.request-login h5{margin-bottom:0;margin-top:0;font-family: KievitCL_OT-Bold;font-weight:normal;}
		.request-login .prod-indv img{height:82px;width:70px;}
		.request-login .prod-image-small{height:82px;width:70px;}
		.request-login .no-img{border:1px solid #707070;}
		.request-login .small-book{padding:0;/*height:100px;*/}
		.request-login .book-content{padding-left:10px;float:left;width:369px;}
		.request-login .prod-indv{margin:0;float:left;}
		.request-login .paddingt10{padding-top:10px}
		.request-login .clr-red{color:#C41919;}
		.request-login .big-textbox{width:960px;height:154px;margin-bottom:31px;}
		.request-login .big-textbox textarea{width:960px;border:1px solid #707070;height:154px;padding:24px;color:#707070;letter-spacing: 0.5px;resize:none;}
		.request-login .paddingL22{padding-left:22px;}
		.request-login .resource-scrolldiv {
			border: 1px solid #707070;
			max-height: 340px;
			overflow: auto;
			width: 460px;}
		.request-login .resource-popup .resource-noscrolldiv .small-book {
			display: inline-block;
			height: 150px;
			padding: 18px 0 11px;}
		.request-login .resource-scrolldiv .small-book {
			/*height: 184px;*/
			padding: 15px 0 22px;
			}
		.request-login .resource-scrolldiv .book-content {
			float: left;
			font-size: 11px;
			padding-left: 20px;width:440px;
			}
		.request-login .resource-scrolldiv .publisher {
			border-bottom: 1px solid #ccc;
			height: 19px;
			margin:0 0 15px 20px !important;
			width: 125px !important;
			word-spacing: 3px;
			}
		.request-login .resource-scrolldiv .publisher a {
			color: #707070 !important;
			font-size: 10px;}
		.request-login h4.message-title{margin:17px 0;letter-spacing:1px;}
		
		.request-login .semester{padding:8px 23px 8px 13px !important;}
		.request-login .semestertextbox input{width:262px !important;}
		.request-login .bookcurrently{padding:8px 15px 8px 13px !important;}
		.request-login .bookcurrentlytextbox input{width:263px !important; }
		.request-login .secondaryemail{padding:8px 16px 8px 13px !important;}
		.request-login .secondaryemailtextbox input{width:294px !important; }
		
		/*.ie8 .semestertextbox input{width:275px !important; margin-left:-20px;}
		.ie8 .bookcurrentlytextbox input{width:275px !important; margin-left:-15px;}
		.ie8 .secondaryemailtextbox input{width:304px !important; margin-left:-17px;}*/
		.request-login h6, .h6 {
		font-size: 12px;}
		h4, .h4, h5, .h5, h6, .h6 {
		margin-bottom: 10px;
		margin-top: 10px;}
		.request-login .col-md-12 {
		width: 100%;}
		.request-login .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;}

	
		.request-login .padding-10 {   padding: 18px 0 6px !important;}

		.request-login .social {
			border-bottom: 1px solid #ccc;
			margin: 10px 0 10px 14px;
			padding: 0 0 0 36px;
			width: 145px;}	
		.request-login .publisher {
			font-size: 14px !important;
			margin: 8px 0 !important;
			width: 320px !important;
			word-spacing: 3px !important;}
		.request-login .search-container strong {
			color: #707070;
			font-family: KievitCL_OT-Bold;
			font-weight: normal;}
		.request-login .border-top-btm{border-top:1px solid #707070;border-bottom:1px solid #707070;}
		.request-login .ad-new {
			display: inline;
			padding:3px 16px;
			margin-right: 20px;
			width: 64px;}
		.request-login .btn-new{color:#0089c5;font-size:10px;}
		.request-login .creator{margin: 8px 0 !important;
			letter-spacing: 0.5px !important;}
		.request-login .img-section{ padding:0 0 40px 0;min-height:370px;}
		.request-login .border-top{border-top:1px solid #ccc;}
		.request-login .border-btm{border-bottom:1px solid #ccc;}
		.request-login .content-section{ padding:35px 0;min-height:390px;}
		.border-topb{border-top:1px solid #707070;}
		.border-btmb{border-bottom:1px solid #707070;}
		.request-login .width50{width:50%;}
		.request-login .book-full-exp{/*height:127px;*/width:100%;overflow: hidden;text-overflow: ellipsis;}
		.request-login .no-img > span {margin: 30px 25px;}
		.ico-ok {
			background-position: -252px -157px;
			height: 20px !important;
			margin: 17px 0 0 25px !important;
			position: absolute !important;
			width: 20px !important;}
		.ico-locker {
			background-position: -299px -157px;
			height: 20px !important;
			margin: 17px 0 0 46px !important;
			position: absolute !important;
			width: 20px !important;}
	.list-none{list-style-type:none;}
	.request-login .list-price li{margin-left:15px;}
	.request-login .bundles{margin-bottom:30px;}
	.request-login .bundles h5{margin-bottom:5px;}
	.request-login .bundles div{margin:5px 0;}
	.request-login .features li p{margin-left:15px;margin-bottom:30px}
	.request-login .controls > p{float:left;}
	.request-login .row .width50{margin-top:10px;}
	.request-login .cnt-us{text-decoration:underline;color:#44a8dd;cursor:pointer;}
	.request-login input[type="checkbox"]{border:none;outline:none;color: #707070;float: left;font-family: KievitCL_OT-Regular;height: auto;margin:12px 8px 11px 0;width: auto;}
	.request-login .sample-ebooks {width:95%;}
	.request-login .sample-ebooks h4{font-family: KievitCL_OT-Bold;font-weight:normal;margin: 16px 0 0;font-size: 15px;letter-spacing: 1px;}
	.request-login .sample-ebooks h5{font-family: KievitCL_OT-Bold;font-weight:normal;text-align:left;padding:10px 0 0; font-size: 12px;letter-spacing: 1px;}
	.request-login .sample-ebooks p{font-family: KievitCL_OT-Regular; margin-bottom: 13px;line-height: 20px;}
	/****Bread-crumb css****/
	.bread-crumb {color: #0089c5;font-family: KievitCL_OT-Regular;font-size: 14px;letter-spacing: 1px;padding: 0 0 20px;}
	.request-login a {outline: medium none;}
	.bread-crumb_link {color: #44a8dd !important;padding-right: 20px;}
	.ico-arrow{color: #0089c5;font-family: KievitCL_OT-Medium;font-size: 13px;}
	.paddingL30 {padding-left: 18px;}
	.bread-crumb_label {color: #0089c5;}
	/****Bread-crumb css Ends****/
	.request-login  .mCSB_draggerContainer{width:15px !important;}
	.request-login  .mCSB_scrollTools .mCSB_dragger_bar{width:13px !important;}
	.mCSB_draggerContainer{background:#707070 !important;}
	.sample-ebooks h4{letter-spacing:0.5px;}
	.sample-ebooks p{letter-spacing: 0.3px !important;width: 94% !important;font-size: 13px !important;}
	.request-login input[type="checkbox"]{margin:9px 15px 9px 0 !important;}
	.mar-top10{margin-top:10px;}
	.request-login .resource-scrolldiv h5{font-size:12px !important;}
	.request-login .book-exp {min-height: 40px;width: 360px;overflow: hidden;text-overflow: ellipsis;max-height: 60px;line-height: 15px;}
	#SRFcourseName{width:313px !important;}
	#SRFcoursesCode{width:313px !important;}
	.cname-label{padding:8px 15px 8px 15px !important;}
	.ccode-label{padding:8px 19px 8px 15px !important}
	.address-info .pre-cnt{margin-bottom:12px !important;}
	div.cname-div{margin-bottom:6px !important;}
	.pre-cnt{margin:0 0 5px 0;letter-spacing:0.5px;}
	.request-login h6, .request-login h4 {margin: 7px 0;}
	p.clr-red{padding:0 0 12px 0;font-weight:500;letter-spacing:1px;}
	div.institute{margin-bottom:20px !important;}
	.H4Light {width: 89% !important;margin: 10px 0 17px 0;float: left;padding: 0;border: 1px solid #707070 !important;}
	.H4Light .k-dropdown-wrap{padding: 10px 0 10px 10px;text-align: left;border: none;}
	.H4Light .k-dropdown-wrap.k-state-active{padding: 10px 0 10px 10px !important;}
	.H4Light .k-dropdown-wrap.k-state-default{background:#F5F5F5 !important;border:none !important;cursor:pointer;}
	.H4Light .k-dropdown-wrap .k-input{font-family: KievitCL_OT-Bold;font-weight:normal;font-size:12px;line-height: 10px;}
	.H4Light .k-dropdown-wrap.k-state-default.k-state-hover{background:#F5F5F5 !important;border:none !important;}
	.H4Light .k-dropdown-wrap .k-icon.k-i-arrow-s{margin:7px 0 0 0 !important;}
	#SRFResourceDpn-list li,#SRFSemesterDpn-list li,#SRFContactDpn_listbox li,#SRFStateDpn_listbox li,#SRFCountry_listbox li{padding: 9px 0 9px 15px;cursor:pointer;background:#F5F5F5 !important;
	-moz-border-bottom-colors: none !important;
    -moz-border-left-colors: none !important;
    -moz-border-right-colors: none !important;
    -moz-border-top-colors: none !important;
    border-color: #707070 #707070 -moz-use-text-color !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-style: solid solid none !important;
    border-width: 1px 1px medium !important;
    color: #707070;
    cursor: pointer;
    font-family: kievitcl_ot-bold;
	font-weight:normal;
    font-size: 12px !important;
    list-style: none outside none;
	}
	.k-item.k-state-hover{background:#F5F5F5 !important;color:0089d1;}
	#SRFResourceDpn_listbox,#SRFContactDpn_listbox,#SRFSemesterDpn_listbox,#SRFCountry_listbox,#SRFStateDpn_listbox{
    border-bottom: 1px solid #707070 !important;
    border-top: 0 none !important;
    clear: both;
    margin: 0;
    padding: 0 !important;}
div .k-list-container.k-popup.k-group.k-reset{border-radius:0 !important;padding:0;}
#SRFResourceDpn_listbox{margin-top:0;}
.webkit #SRFSemesterDpn-list{width:427px !important;}
.webkit #SRFResourceDpn-list{width:428px !important;}
#SRFStateDpn_listbox li,#SRFCountry_listbox li{padding:9px 0 9px 15px !important;}
#SRFResourceDpn-list,#SRFSemesterDpn-list,.k-animation-container.km-popup{background:none !important;padding:0 !important;box-shadow: none !important;}
.k-animation-container.km-popup,.k-list-container.k-popup.k-group.k-reset{margin:0 !important;box-shadow: none !important;-webkit-box-shadow: none !important;}
#SRFContactDpn-list,#SRFResourceDpn-list,#SRFSemesterDpn-list,#SRFStateDpn-list, #SRFCountry-list{margin:-1px 0 0 -1px !important;}
#SRFContactDpn-list{width:117px !important;}
.k-state-selected.k-state-focused, .k-popup .k-list .k-state-hover,#SRFCountry_listbox li.k-item.k-state-hover,#SRFStateDpn_listbox li.k-item.k-state-hover, #SRFResourceDpn_listbox li.k-item.k-state-hover,#SRFSemesterDpn_listbox li.k-item.k-state-hover,#SRFContactDpn_listbox li.k-item.k-state-hover{
    background: none repeat scroll 0 0 #fff !important;
    border-color: #707070 !important;
    color: #0089d1 !important;}
.teach-sub .teaching{margin:12px 0 4px 0;}
.teach-sub
{
clear: both;
margin-top: 10px;
float: left;
}
.teaching-msg{padding-bottom:8px;}
.mobile{width: 115px !important;margin: 0;float: left;padding: 0;}
.mobile-div input{height:37px;}
.mobile-div .k-dropdown{border: 1px solid #707070 !important;}
#SRFPhone{width:313px !important;}
.mobile .k-dropdown-wrap{padding: 10px 0 10px 10px;text-align: left;border: none;}
.mobile .k-dropdown-wrap.k-state-active{padding: 10px 0 10px 10px !important;}
.mobile .k-dropdown-wrap.k-state-default{background:#F5F5F5 !important;border:none !important;cursor:pointer;border-radius:0;}
.mobile .k-dropdown-wrap .k-input{font-family: KievitCL_OT-Bold;font-weight:normal;font-size:12px;line-height: 7px;}
.mobile .k-dropdown-wrap.k-state-default.k-state-hover{background:#F5F5F5 !important;border:none !important;}
.mobile .k-dropdown-wrap .k-icon.k-i-arrow-s{margin:7px 0 0 0 !important;}
#SRFContactDpn-list{background:none !important;padding:0 !important;margin:-1px 0 0 0;}
#SRFContactDpn_listbox li,.k-list-container.k-popup.k-group.k-reset li{padding:7px 0 7px 15px;}
.ie #SRFResourceDpn-list,.ie #SRFSemesterDpn-list {width: 428px !important;}
.ie .state-label{height:37px !important;}
.country-label{height:37px !important;}
.ie8 .state-label{height:36px !important;}
.ie8 .country-label{height:36px !important;}
.k-ie11 .country-label{height:38px !important;}
.webkit .country-label{height:38px !important;}
.ie .H4Light .k-dropdown-wrap {padding: 10px 0 9px 10px !important;}
.ie .mobile-div .mobile{height:37px !important;}
div.leftside-div{padding:0 !important;}
div.rightside-div{padding:0 0 0 22px !important;}
.leftside-div .col-md-12{padding:0 !important;}
.mobile-div span .k-dropdown-wrap.k-state-default{padding-bottom:9px;}
/*.ie8 #SRFEmailid{padding-top:5px !important;}
.ie8 #SRFInstitution{padding-top:5px !important;}*/
.rightside-div .mCustomScrollBox>.mCSB_scrollTools{width:15px !important;}
.srf-submit-btn
{
margin-left:5px;
border-top: 1px solid #ccc;
position: absolute;
/*margin-top: 525px;*/
width: 100%;
}
.srfmrgbtm{padding:5px 0 8px;border-bottom:1px solid #ccc;}
.srferrors{width: 88.8%;margin-top:5px;}
.srfloggedoutp{width:100%;}
.marginb0{margin-bottom: 0 !important;}
.pad-left94{padding-left: 104px !important;}
.gecko .ship-adr1{margin-top:-4px !important;}
.controls .k-widget.k-dropdown.k-header{float: left;margin: 0 0 0 -1px !important;padding: 0;width: 324px !important; }
.state-label{height:38px !important;}
.cnfrm-div{height:40px;}
.cnfrm-btn{padding-right:54px;}
.cnfrm-btn  .btn-affermative{margin-top:0 !important;}

/******** Invalid Sales rep Pop up **********/
.favpopup {
	width: 662px;
	background: #fff;
	overflow: hidden;
	margin: auto;
	padding: 32px 22px;
}
.favpopup h1 {
	float: left;
	margin: 0;
	font-size: 26px;
	color: #717171;
	width: 100%;
	border-bottom: solid 2px #707070;
	clear: both;
	font-family: KievitCL_OT-Bold;
	padding-bottom: 10px;
}
.favpopup .save-cont {
	border: solid 1px #707070;
	float: left;
	margin: 48px 0 12px 0;
	color: #A3A3A3;
	clear: both;
	width: 100%;
	padding: 40px 30px;
}
.favpopup .save-cont p {
	color: #707070;
	float: left;
	font-family: KievitCL_OT-Bold;
	clear: both;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
/******** Invalid Sales rep Pop up - end **********/

/************* Success MSG ************************/

	.success-msg{font-family: KievitCL_OT-Regular;font-size: 12px;}
	.success-inner{min-height:400px;}
	.success-msg h3{font-family: KievitCL_OT-Bold;font-weight:normal;color:#707070;}
	.success-msg h4{font-family: KievitCL_OT-Regular;color:#707070;}
	.access-dashboard{margin-bottom:20px;font-family: KievitCL_OT-Medium;font-size:13px;}
	.success-msg  p{width:81%;color:#707070;line-height: 26px;}
	.success-msg .msg{margin-bottom:25px;}
	.cnt-us{text-decoration:underline;color:#0089d1;cursor:pointer;}	
	/****Bread-crumb css****/
	.request-login a {outline: medium none;}	
	.ico-arrow{color: #0089c5;font-family: KievitCL_OT-Medium;font-size: 13px;}
	.paddingL30 {padding-left: 18px;}
	.bread-crumb_label {color: #0089c5;}
	.access-dashboard{display: inline-block;margin: 0 0 6px;}
	.success-inner p{font-size: 13px;margin-bottom: 27px;}
	.success-inner h4{font-family: KievitCL_OT-regular;font-size: 18px;}
	.success-inner h3{font-size: 24px;margin: 2px 0 15px;}
	.non-verify p {font-size: 13px;line-height: 27px;width: 77%;}
	.dresource {margin: 0 0 2px;}
/**************** Success MSG end *****************/
#SRFLoggedOutDiv a{text-decoration:underline !important;}
.srf-submit-btn .btn-affermative{margin-top:24px !important;height:34px;}
.srferrors  span{display:inline;}




input
{
webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.btn-affermative:hover{background:no-repeat #C0DC96!important;color:#fff}
.SRFLoginLnk
{
	margin-left:5px;
}
#BrowseDropDown>span.btn {
	height: 45px!important;
	width: 280px!important;
	padding: 0!important;
}
#BrowseDropDown .Browseinactivemenu {
	display: block;
	margin-left: 10px!important;
	margin-top: 10px!important;
	text-align:left;
}

.he-adsearch .ico-caret {
	background-position: -146px -97px!important;
}

#TextSearch {
	width: 544px!important;
}

.he-adsearch input {
	margin-left:  -52px !important;
	color: #3E3E3E;
	font-family: KievitCL_OT-Medium;
	letter-spacing: 1px;
	height: 45px!important;
	cursor: text;
	float: left;
}
.he-adsearch .ico-caret {
	background-position: -146px -115px!important;
}

.he-adsearch .input-group-btn ul {
	width: 280px!important;
}
.he-adsearch .input-group-btn ul ul {
	width: 321px!important;
}

.hemenu {
	margin-top: 17px!important;
}
.he-topmenu {
	margin-top: 12px;
}

.hedashboardmenu .nav > li > a  {	
padding:  10px 0 1px !Important;
}


.dashboard-ellipsis  {
	
width:  156px !important;

}

.hedashboardmenu {
margin-top: 0 !important;
}

.bread-crumb 
{
margin-top:-15px !important;
}
#loginWindow.k-window-content {overflow: hidden!important;}
.k-window-content {overflow: hidden!important;}
.k-window-action.k-link {border: none; position:absolute}
.address-line{border-top: 0 none !important;margin-top: -5px !important;}
.sub-rub{width: 244px;display: inline-block;}
.sub-rub input{width:150px;padding:0 15px;}
.post-code{width: 233px;display: inline-block;}
.post-code input{width:93px;padding:0 15px;}
.sub-rub label,.post-code label{min-width:85px;}
.state-name{width:285px;display: inline-block;}
.state-name .controls .k-widget.k-dropdown.k-header{width:280px !important;}
.country-name{width:140px;display: inline-block;}
.country-name .controls .k-widget.k-dropdown.k-header{width:140px !important;}
#SemesterDiv{width: 100%;}
#SemesterDiv .H4Light{margin:5px 0 10px 0 !important;}
#SRFSemesterError{height: 40px;margin:0 0 15px 0;}

#SRFStateDiv
{
float: left;
width: 278px;
margin-right: 10px;
}
#SRFStateDiv .controls .k-widget.k-dropdown.k-header
{
width: 275px !important;
}
.ProgressDivClass
{
	margin-top: -21px !important;
	z-index:  1000 !important;
	margin-left:96% !important;
	
}
#overlay  {
	
    position:  fixed;
    top:  0;
    left:  0;
    background-color:  white;
    width:  100%;
    height:  100%;
    display:  none;
	z-index:  999;
	opacity:  0.75;

}
#SalesRep{display:block !important;}
#prirep{display:none!important;}


.load-srf
{
display:none;

}
.overlay-srf
{
position: fixed;
top: 0;
left: 0;
background-color: white;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0.75;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
z-index:99;
}


.ie8 .sample-request-load , .ie9 .sample-request-load{
	display:block !important;
  width:55px;
  height:55px;
   background: url('/Portals/0/images/ajax-loader1.gif') !important;   
   text-align:center;
   background-repeat:no-repeat;
background-position: center center;
z-index:999;
position:absolute;
top:10%;
left:45%;

}

.ie8 .sample-request-load div, .ie9 .sample-request-load div
{
display:none !important;
}

.sample-request-load div{
	display:block;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 40%;
top:10%;
z-index: 999;  
}
.sample-request-load div:nth-child(1)
{
   background-color: #093658; 
  -webkit-animation: move 2s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  animation: move 2s infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.sample-request-load div:nth-child(2) 
{
  background-color: #135d94;
  -webkit-animation: move 2s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  animation: move 2s 150ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.sample-request-load div:nth-child(3)
{
  background-color: #1689c6;
  -webkit-animation: move 2s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  animation: move 2s 300ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}

.sample-request-load div:nth-child(4)
{
  background-color: #4aacd7;
  -webkit-animation: move 2s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
  animation: move 2s 450ms infinite cubic-bezier(0.2, 0.64, 0.81, 0.23);
}


.cname-div  .placeholder
{
color:#707070 !important;
letter-spacing:0 !important;
}

.srfErrMsg
{
font-family: KievitCL_OT-bold;
}
.loadergif
{
display:none;
   text-align:center;
   background-repeat:no-repeat;
background-position: center center;
z-index:999;
position:absolute;
top:10%;
left:45%;
}
.loadergifsize{
  width:55px;
  height:55px; 
}

/*added for contact-us module
#SalesRep1{
min-height: 460px;
}
.ContactUs{
min-height: 500px;
}

/*added for contact-us module*/
.con-signup
{
width: 100% !important;
margin-top: 50px;
}
#conSendReq
{
margin-top:24px !important;
}


#SRFInstructorPopUp .favpopup

{
width: 480px;
  background: #fff;
  overflow: hidden;
  margin: auto;
  padding: 18px 20px 15px;
  min-height: 312px;
}


#SRFInstructorPopUp .favpopup .save-cont p {
  color: #707070;
  float: left;
  font-family: KievitCL_OT-Regular;
  clear: both;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 26px;
}

#SRFInstructorPopUp .favpopup .save-cont {
  float: left;
  margin: 22px 0 30px;
  color: #A3A3A3;
  clear: both;
  width: 100%;
  border: 0 none;
  padding: 0;

}


#SRFInstructorPopUp .favpopup h1 {
  float: left;
  margin: 0;
  font-size: 23px;
  color: #717171;
  width: 100%;
  border-bottom: solid 2px #707070;
  clear: both;
  font-family: KievitCL_OT-Bold;
  padding-bottom: 5px;
  letter-spacing: 1px;
  width: 436px;
  line-height: 36px;
}


#SRFLgnBtn
{
  padding: 8px 50px !important;
  margin-left: 3px;
    font-family: KievitCL_OT-Regular;
}

#SRFNoThxButton
{
  padding: 8px 36px !important;
    font-family: KievitCL_OT-Regular;
  }