<?xml version="1.0" encoding="utf-8"?>
<AnalyticsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Settings>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>cengage.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>True</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>cengage.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>True</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>cengage.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>True</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>s2.cengagelearning.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>True</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>s2.cengagelearning.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>True</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>TrackingId</SettingName>
      <SettingValue>UA-43278709-1</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>UrlParameter</SettingName>
      <SettingValue />
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>DomainName</SettingName>
      <SettingValue>s2.cengagelearning.com.au</SettingValue>
    </AnalyticsSetting>
    <AnalyticsSetting>
      <SettingName>Enable</SettingName>
      <SettingValue>False</SettingValue>
    </AnalyticsSetting>
  </Settings>
  <Rules>
    <AnalyticsRule>
      <RoleId>-1</RoleId>
      <TabId>-1</TabId>
      <Label>_setAllowLinker</Label>
      <Value>true</Value>
    </AnalyticsRule>
  </Rules>
</AnalyticsConfig>